body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background: #B5D7FF;
    text-align: center;
}
.head_bar {
    background: #70B2FF;
    margin-right: auto;
    margin-left: auto;
    width: 99%;
    height: max-content;
    border: solid black 2px;
    box-shadow: black 2px 2px 2px;
}
.head_content {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
    height: max-content;

}
.link {
    text-decoration: none;
    color: white;
    text-align: center;
}
.button_box {
    background: lightgray;
    width: max-content;
    height: max-content;
    margin-left: auto;
    margin-right: auto;
    border: black solid 2px;
    margin-top: 2%;
    box-shadow: 2px 2px 2px black;
}
.A1x1 {
    padding: 0px;
    font-size: 25px;
    text-align: center;
    height: 50px;
    width: 50px;
    float: left;
    outline: none;
    font-family: Source Sans Pro,sans-serif;
}
.A1x1:focus {
    background: #d1e6ff;
}
.A1x3 {
    height: 150px;
    width: 50px;
    text-align: center;
    display: table-cell;
    margin-left: 0px;
    margin-top: 0px;

}
.A3x3 {
    border: black solid 2px;
    padding: 0px;
    text-align: center;
    height: max-content;
    width: max-content;
}
.A3x9 {
    display: table-cell;
    width: max-content;
    height: max-content;
}

.A9x9 {
    width: max-content;
    height: max-content;

}

.Sudoku {
    width: max-content;
    border: black solid 5px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 7px 7px 7px #70B2FF;
    text-align: center;
    background: black;

}
.error_box {
    border: solid black 2px;
    width: max-content;
    height: max-content;
    padding: 0.5%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1%;
    background: lightgray;
    font-family: "Times New Roman";
}